<div class="content" *ngIf="razas; else cargando">
  <table class="table is-striped">
    <thead>
      <tr>
        <th>N°</th>
        <th>Vista previa</th>
        <th>Nombre Raza</th>
        <th>Subrazas</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let raza of razas; let x = index">
        <td>{{ x + 1}}</td>
        <td>
            <img
              width="100"
              src="{{ raza.avatar }}"
            />
          </td>
        <td>
          <span>{{ raza.nombre }}</span>
        </td>
        <td>
          <div *ngIf="raza.subrazas.length > 0; else sinSubrazas">
              <table class="table is-striped">
                <thead>
                  <tr>
                    <th>N°</th>
                    <th>Nombre subraza</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let subraza of raza.subrazas; let i = index">
                    <td>{{ i + 1}}</td>
                    <td>{{ raza.nombre }} {{ subraza }}</td>
                    <td>
                        <a class="button is-rounded is-info is-outlined is-small" (click)="onSeleccionarSubraza(raza.nombre, subraza)">
                            <span class="icon">
                              <i class="fas fa-search"></i>
                            </span>
                            <span>Detalles</span>
                          </a>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
          <ng-template #sinSubrazas>
              <span class="has-text-danger">El {{ raza.nombre }} no tiene subrazas</span>
          </ng-template>
        </td>

        <td>
            <a class="button is-rounded is-info is-outlined is-small" (click)="onSeleccionarRaza(raza)">
                <span class="icon">
                  <i class="fas fa-search"></i>
                </span>
                <span>Detalles</span>
              </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #cargando>
    <span class="has-text-info has-text-centered">Cargando lista de perros...</span>
</ng-template>
