<div *ngIf="raza.subrazas.length > 0; else sinSubrazas">
    <table class="table is-striped">
      <thead>
        <tr>
          <th>N°</th>
          <th colspan="2">Nombre subraza</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subraza of raza.subrazas; let i = index">
          <td>{{ i + 1}}</td>
          <td>{{ raza.nombre }} {{ subraza }}</td>
          <td>
              <a class="button is-rounded is-info is-outlined is-small" (click)="onSeleccionarSubraza(subraza)">
                  <span class="icon">
                    <i class="fas fa-search"></i>
                  </span>
                  <span>Detalles</span>
                </a>
          </td>
        </tr>
      </tbody>
    </table>
</div>
<ng-template #sinSubrazas>
    <span class="has-text-danger">El {{ raza.nombre }} no tiene subrazas</span>
</ng-template>
